<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ScholarQuest</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/home.css">
</head>
<body>
  <header>
    <div class="logo"><img src="/static/images/image 1.png" alt="">ScholarQuest</div>
    <nav>
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('register') }}">Sign up</a>
    </nav>
  </header>

  <section class="hero">
    <div class="hero-text">
      <h1>Find the <span>Scholarship</span><br> that fits you best.</h1>
      <p><span1>Find India's best Scholarship Opportunities in a Single Touch!</span1></p>
      
    </div>
    <div class="img">
      <img src="/static/images/scholarship 1.png" alt="Hero Image" width="400" id="boy1">
    <img src="/static/images/architecture 1.png" alt="Hero Image" width="500"id="girl1">
    </div>
  </section>

  <section class="features">
    <div class="element"><div class="img"><img src="/static/images/mdi_account.png" alt=""></div>  <div class="box">Register Your Account <br><span>Register yourself with all details to stay updated</span></div></div> 
    <div class="element"><div class="img"><img src="/static/images/image 2.png" alt=""></div> <div class="box">Search for Scholarship<br><span>Search for scholarships to get details and know eligibility</span></div></div>
  </section>

  <section class="section">
    <div class="sec-img">
      <div class="img">
        <img src="/static/images/image.png" alt="Scholarship">
        <img src="/static/images/image 15.png" alt="">
      </div>

    <img src="/static/images/image (1).png" alt="Scholarship" id="img3">
    </div>
    
    <div class="features-col">
      <h2>Why choose<br> <span>ScholarQuest?</span></h2>
      <ul>
        <div class="li">
          <img src="/static/images/image 4.png" alt="img1">
          <li> Personalized Scholarship Matching
            <P>filters only those scholarships that match your academic qualifications, financial status, category, and location.</P>
          </li>
        </div>
        <div class="li" id="mid">
          <img src="/static/images/image 5.png" alt="img2">
          <li> Detailed Scholarship Insights
          <p>Provides eligibility criteria, required documents, deadlines, and application process.</p>  
          </li>
        </div>
        <div class="li">
          <img src="/static/images/image 6.png" alt="img3">
          <li> Access to Large Database of Scholarships
        <p>Collects scholarships from government portals, private organizations, universities, and NGOs.</p>
          </li>
        </div>
              </ul>
    </div>
  </section>
  <h2 id="h2"><span>Scholarsh</span>ip for all</h2>
  <section class="cards">
    <div class="card">
      <h3>Sitaram Jindal Foundation Scholarship Scheme</h3>
      <a href="https://scholarshipforme.com/scholarships/sitaram-jindal-foundation-scholarship4439"><button>View details</button></a>    </div>
    <div class="card">
      <h3>Shriram Automall Education Scholarship Programme</h3>
      <a href="https://scholarshipforme.com/scholarships/shriram-automall-education-scholarship-programme"><button>View details</button></a>
    </div>
    <div class="card">
      <h3>The Education Future International Scholarship</h3>
      <a href="https://scholarshipforme.com/scholarships/the-education-future-international-scholarship"><button>View details</button></a>
      
    </div>
    <div class="card">
        <h3>Punjab's Pre-Matric Scholarship  for OBC Students</h3>
        <a href="https://scholarshipforme.com/scholarships/punjab-s-pre-matric-scholarship-program-for-obc-students"><button>View details</button></a>
      </div>
  </section>

  <section class="testimony">
    <h1>Testimony</h1>
    
    <p>"I am absolutely thrilled with ScholarQuest.com! It has made findivng and applying for scholarships so much easier and more efficient. The user-friendly interface and comprehensive database have made it a valuable tool for students. Highly recommended to all aspiring students!"<br>– Student</p>
    <div class="img">
      <img src="chevron_right_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg" alt="">
    </div>
  </section>

  <footer>
    <p>ScholarQuest</p>
    <p>Email: findscholarquest@gmail.com</p>
    <p>&copy; 2025 ScholarQuest. All rights reserved.</p>
  </footer>
</body>

</html>
